{% render 'partials/header.liquid' %}

<div class="carousel">
    <div class="carousel-slide">
        <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image }}?height=320&width=375"
            alt="First poster image of house">
    </div>

    <div class="carousel-slide">
        <img src="/images/plattegrond.png" width="375" height=320 alt="View plan of house">
    </div>

    <div class="carousel-slide">
        <video controls width="375" height=320>
            <source src="https://www.funda.nl/detail/koop/diemen/huis-prinses-beatrixlaan-12/43054594/media/video/1"
                type="video/mp4">
        </video>
    </div>

    <div class="carousel-slide">
        <img src="/images/afbeelding1.png" width="375" height=320 alt="View of inside the house">
    </div>

    <div class="carousel-slide">
        <img src="/images/afbeelding2.png" width="375" height=320 alt="View of outside the house">
    </div>

    <div class="svg-carousel-container">

        <button class="share-button">
            {% render 'partials/share-button.liquid' %}

        </button>

        {% assign is_liked = false %}
        {% for likedHouse in likedHouses %}
        {% if likedHouse.id == house.id %}
        {% assign is_liked = true %}
        {% break %}
        {% endif %}
        {% endfor %}

        {% if is_liked %}


        <form method="POST" action="/house">
            <input type="hidden" name="houseID" value="{{ house.id }}">
            <button type="submit" class="like-button">
                {% render 'partials/liked-button.liquid' %}
            </button>
        </form>

        {% else %}

        <form method="POST" action="/house">
            <input type="hidden" name="houseID" value="{{ house.id }}">

            <button type="submit" class="like-button">
                {% render 'partials/empty-liked-button.liquid' %}
            </button>
        </form>

        {% endif %}
    </div>
</div>

<section class="address">

    <h1 class="street"> {{ house.street }} {{ house.house_nr }} </h1>
    <p class="text-zipcode"> {{ house.postal_code }} {{ house.city }} </p>
    {% render 'partials/map-address.liquid' %}

</section>

<div class="info-m2">

    {% render 'partials/house-m2-garden.liquid' %}
    <p class="text-icons"> {{ house.m2_garden }} m²</p>

    {% render 'partials/house-m2.liquid' %}
    <p class="text-icons"> {{ house.m2 }} m²</p>


    {% render 'partials/house-rooms.liquid' %}
    <p class="text-icons"> {{house.rooms}} </p>

    {% render 'partials/text-icons.liquid' %}
    <p class="text-icons">C</p>
</div>

<div class="maandlasten">
    <p class="text-price"> € {{ house.price }} k.k. </p>

    <a href="https://www.funda.nl/hypotheek/maandlasten/ing/?id=43923245">
        {% render 'partials/maandlasten.liquid' %}
        <p>Wat worden mijn maandlasten?</p>
    </a>
</div>

<section class="description">
    <h2>Omschrijving</h2>
    <p> {{ house.description }} </p>
</section>


<script>
    document.querySelectorAll('.like-button').forEach(button => {
        button.addEventListener('click', function (e) {
            const svg = this.querySelector('.like-icon');

            // Verwijder eerst de class als hij er al op zit (zodat hij opnieuw kan afspelen)
            svg.classList.remove('bounce');

            // Forceer reflow zodat de animatie opnieuw kan beginnen
            void svg.offsetWidth;

            // Voeg de class weer toe
            svg.classList.add('bounce');
        });
    });
</script>


</main>

</body>